body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    margin: 10px;
    display: inline-block;
}
a {
    text-decoration: none;
    color: blue;
}

section {
    margin: 20px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
}